.head {
    background-image: url(../images/layouts/eyes.jpeg);
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 8rem;
    }
footer, .chip-icon {
    background-color: #731200;
}

.bg-black {
    background-color: #000000!important;
}

body {
    background-color: #dcd9d945;
}

video {

    object-fit: cover;
}
.share a {
    color: #fff;
}
.cd-nugget-info {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 50px;
  line-height: 50px;
  top: 0;
  left: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-nugget-info a {
  position: relative;
  font-size: 14px;
  color: #e86256;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.cd-nugget-info a:hover {
  opacity: .8;
}
.cd-nugget-info span {
  vertical-align: middle;
  display: inline-block;
}
.cd-nugget-info span svg {
  display: block;
}
.cd-nugget-info .cd-nugget-info-arrow {
  fill: #e86256;
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(../images/layouts/arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-top--fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}


.thumb-post img {
    object-fit: cover;
}

.carousel-control-prev, .carousel-control-next, .carousel-indicators li {
    background-color: hsla(0, 93%, 31%, 0.98)
}
#sponsors img {
    height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.carousel-item img {
   min-width: auto;
   max-height:auto;
 }

.badge-wine {
    background-color: #731200;
    color: #fff;
    padding: 10px;
}

.btn-wine {
    background-color: #731200;
    color: #fff;
    padding: 10px;
}}
.nakhtefmut {
    background-image: url(../images/nakhtefmut/nakhtefmut.jpeg);
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 8rem;
}

.nespawershefyt {
    background-image: url(../images/layouts/eyes.jpeg);
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 8rem;
}

.pakepu {
    background-image: url(../images/pakepu/pakepu-inner-leadimage.jpg);
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 8rem;
}


.senuitef {
    background-image: url(../images/senuitef/senuitefDrawing.jpeg);
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 8rem;
}

.max-coffins {
    max-width: 100%;
}
.share li {
    list-style: none;
    margin-left: -40px;
}

#error {
    object-fit: cover;
    width: 100%;
}

.coffin  {
    height: 150px;
    width: 150px;
}

.contact .btn {
    background-color: #731200;
    color: #fff;
}

label.cm-app-label {
    color: white;
}