{% if page.url == '/' %}
<div class="mb-2 container">
{% else %}
<div class="mb-2">
{% endif %}
    <div class="row">
        <div class="col-sm-6 mb-2">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Nespawershefyt</h5>
                    <img class="align-self-center mr-3 rounded-circle coffin float-right thumb-post"
                         src="/images/nespawershefyt/Nes1.jpg"
                         alt="{{page.title}}'s profile image"/>
                    <p class="card-text">The yellow anthropoid coffin set of Nespawershefyt is one of the best-known
                        surviving examples of its kind from the 21st Dynasty. Comprising a mummy board, inner coffin and
                        outer coffin, it was one of the first objects to be acquired into the fledgling Fitzwilliam
                        Museum's ancient Egyptian collection in 1822.</p>
                    <a href="/coffins/nespawershefyt" class="btn btn-dark">Read about
                        Nespawershefyt</a>
                </div>
            </div>
        </div>


        <div class="col-sm-6 mb-2">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Pakepu</h5>
                    <img class="align-self-center mr-3 rounded-circle coffin float-right thumb-post"
                         src="/images/pakepu/pakepu-outer.jpg"
                         alt="{{page.title}}'s profile image"/>

                    <p class="card-text">This coffin set belongs to a man named Pakepu who worked as a 'water pourer on
                        the west of Thebes' around c.680-664 BC. The coffins were discovered during excavations in Luxor
                        in 1869 and subsequently gifted to the Museum by Prince Edward (later Edward VII) in the same
                        year.</p>
                    <a href="/coffins/pakepu" class="btn btn-dark">Read about Pakepu</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% if page.url != "/" %}
<div class="mb-2">
    <div class="row">
      <div class="col-sm-6 mb-2">
          <div class="card h-100">
              <div class="card-body">
                  <h5 class="card-title">Dog coffin</h5>
                  <img class="align-self-center mr-3 rounded-circle coffin float-right thumb-post"
                       src="/images/dog-coffin/IMG_7546.jpg"
                       alt="{{page.title}}'s profile image"/>
                  <p class="card-text">
                    This small wooden box coffin, believed to be for a dog, was discovered by John Garstang at Beni Hasan and gifted to the Museum in 1902.
                  </p>
                  <a href="/coffins/dog-coffin" class="btn btn-dark">Read about the dog coffin</a>
              </div>
          </div>
      </div>

        <div class="col-sm-6 mb-2">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Senuitef</h5>
                    <img class="align-self-center mr-3 rounded-circle coffin float-right thumb-post"
                         src="/images/senuitef/senuitef.jpg"
                         alt="{{page.title}}'s profile image"/>
                    <p class="card-text">This group of two long boards and two short boards are inscribed with the
                        names of two different people: Senuitef and Warethetep.
                        Investigations into why this is are still on-going.</p>
                    <a href="/coffins/senuitef" class="btn btn-dark">Read more about Senuitef</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <div class="row">
      <div class="col-sm-6 ">
          <div class="card h-100">
              <div class="card-body">
                  <h5 class="card-title">Miniature coffin</h5>
                  <img class="align-self-center mr-3 rounded-circle coffin float-right thumb-post"
                       src="/images/mincoffin7.jpg"
                       alt="{{page.title}}'s profile image"/>
                  <p class="card-text">Conservator, Flavia Ravaioli, microscopically examining the miniature coffin.
                  </p>
                  <a href="/coffins/miniature-coffin" class="btn btn-dark">Read about the miniature coffin</a>
              </div>
          </div>
      </div>


    </div>
</div>

{% endif %}
{% if page.url == '/' %}
<div class="container">
    <div class="row">
        {% for video in page.videos %}
        <div class="card col-sm p-0 m-2">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://player.vimeo.com/video/{{video}}" class="embed-responsive-item"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
