{% if page.url == '/' %}
<div class="mb-2 container">
{% else %}
<div class="mb-2">
{% endif %}
    <div class="row">
        <div class="col-sm-6 mb-2">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Nespawershefyt</h5>
                    <img class="align-self-center mr-3 rounded-circle coffin float-right thumb-post"
                         src="/images/nespawershefyt/Nes1.jpg"
                         alt="{{page.title}}'s profile image"/>
                    <p class="card-text">The yellow anthropoid coffin set of Nespawershefyt is one of the best-known
                        surviving examples of its kind from the 21st Dynasty. Comprising a mummy board, inner coffin and
                        outer coffin, it was one of the first objects to be acquired into the fledgling Fitzwilliam
                        Museum's ancient Egyptian collection in 1822.</p>
                    <a href="/coffins/nespawershefyt" class="btn btn-dark">Read about
                        Nespawershefyt</a>
                </div>
            </div>
        </div>


        <div class="col-sm-6 mb-2">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Pakepu</h5>
                    <img class="align-self-center mr-3 rounded-circle coffin float-right thumb-post"
                         src="/images/pakepu/pakepu-outer.jpg"
                         alt="{{page.title}}'s profile image"/>

                    <p class="card-text">This coffin set belongs to a man named Pakepu who worked as a 'water pourer on
                        the west of Thebes' around c.680-664 BC. The coffins were discovered during excavations in Luxor
                        in 1869 and subsequently gifted to the Museum by Prince Edward (later Edward VII) in the same
                        year.</p>
                    <a href="/coffins/pakepu" class="btn btn-dark">Read about Pakepu</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% if page.url != "/" %}

<div>
    <div class="row">
      <div class="col-sm-6 ">
          <div class="card h-100">
              <div class="card-body">
                  <h5 class="card-title">Miniature coffin</h5>
                  <img class="align-self-center mr-3 rounded-circle coffin float-right thumb-post"
                       src="/images/miniature-coffin/mincoffin2.jpg"
                       alt="{{page.title}}'s profile image"/>
                  <p class="card-text">Among the Fitzwilliam Museum's Egyptian antiquities collection is a miniature coffin that had been thought to hold mummified organs, but was in fact found to contain an embalmed human foetus.
                  </p>
                  <a href="/coffins/miniature-coffin" class="btn btn-dark">Read about the miniature coffin</a>
              </div>
          </div>
      </div>

      <div class="col-sm-6 mb-2">
          <div class="card h-100">
              <div class="card-body">
                  <h5 class="card-title">Beni Hasan</h5>
                  <img class="align-self-center mr-3 rounded-circle coffin float-right thumb-post"
                       src="/images/deathonthenile/boxcoffindetail.jpg"
                       alt="{{page.title}}'s profile image"/>
                  <p class="card-text">Beni Hasan was one of the most important necropoleis for the high officials governing the region during the Middle Kingdom (c. 2010 - 1650 BC).
</p>
                  <a href="/coffins/beni-hasan" class="btn btn-dark">Read more about Beni Hasan</a>
              </div>
          </div>
      </div>
    </div>
</div>

{% endif %}
{% if page.url == '/' %}
<div class="container">
    <div class="row">
        {% for video in page.videos %}
        <div class="card col-sm p-0 m-2">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://player.vimeo.com/video/{{video}}" class="embed-responsive-item"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
