<div class="row">
    <div class="col-12  mb-2 ">
        <h3>Joints</h3>
    </div>
</div>
<div class="col-12 shadow-sm  p-3 mb-3 mx-2 bg-white rounded">
    The Fitzwilliam's Egyptian coffins contain examples of the following wood working joints:
</div>

<div class="row col-12">

    <div class="'col-md-5 p-2 mb-3 ">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Butt joint </h5>
                <img class="align-self-center mr-3 thumb-post img-fluid"
                     src="/images/joints/buttlarge.jpg"
                     alt="Butt joint">
            </div>
        </div>
    </div>

    <div class="'col-md-5 p-3 mb-3 mx-2">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Mitre</h5>
                <img class="align-self-center mr-3 thumb-post image-fluid"
                     src="/images/joints/dovetaillarge.jpg"
                     alt="{{page.title}}'s profile image" >
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="'col-md-3 p-3 mb-3 mx-2">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Tied mitre</h5>
                <img class="align-self-center mr-3 thumb-post image-fluid"
                     src="/images/joints/dovetaillarge.jpg"
                     alt="{{page.title}}'s profile image" >
            </div>
        </div>
    </div>

    <div class="'col-md-3 p-3 mb-3 mx-2">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Dovetail</h5>
                <img class="align-self-center mr-3 thumb-post img-fluid"
                     src="/images/joints/dovetaillarge.jpg"
                     alt="{{page.title}}'s profile image">
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="'col-md-3 p-3 mb-3 mx-2">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Mortise and tenon</h5>
                <img class="align-self-center mr-3 thumb-post img-fluid"
                     src="/images/joints/mortise-tenon-looselarge.jpg"
                     alt="{{page.title}}'s profile image">
            </div>
        </div>
    </div>

    <div class="'col-md-3 p-3 mb-3 mx-2">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Pegged mortise and tenon</h5>
                <img class="align-self-center mr-3 thumb-post img-fluid"
                     src="/images/joints/mortise-tenon-peggedlarge.jpg"
                     alt="{{page.title}}'s profile image">
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="'col-md-3 p-3 mb-3 mx-2">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Mortise with loose tenon</h5>
                <img class="align-self-center mr-3 thumb-post img-fluid"
                     src="/images/joints/mortise-tenon-looselarge.jpg"
                     alt="{{page.title}}'s profile image">
            </div>
        </div>
    </div>

    <div class="col-md-3 p-3 mb-3 mx-2">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Edge joint with dowels</h5>
                <img class="align-self-center mr-3 thumb-post image-fluid"
                     src="/images/joints/edge-dowelslarge.jpg"
                     alt="{{page.title}}'s profile image">
            </div>
        </div>
    </div>

    <div class="col-md-3 p-3 mb-3 mx-2">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Scarf joint</h5>
                <img class="align-self-center mr-3 thumb-post image-fluid"
                     src="/images/joints/scarf-butterfly.jpg"
                     alt="{{page.title}}'s profile image">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3 p-3 mb-3 mx-2">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Coopered construction</h5>
                <img class="align-self-center mr-3 thumb-post img-fluid"
                     src="/images/joints/cooperedlarge.jpg"
                     alt="{{page.title}}'s profile image">
            </div>
        </div>
    </div>

    <div class="col-md-3 p-3 mb-3 mx-2">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Pegged spliced scarf joint</h5>
                <img class="align-self-center mr-3 thumb-post image-fluid"
                     src="/images/joints/scarf-pegged.jpg">
            </div>
        </div>
    </div>

</div>