<div class="col-12   p-3 mb-3 rounded share text-center">
    <div>
        <btn class="btn btn-wine m-1"><a
                href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url | url_encode }}">
            <i class="fab fa-facebook"></i> Share on Facebook</a></btn>
        <btn class="btn btn-wine m-1"><a href="https://twitter.com/intent/tweet?url={{site.url}}{{page.url | url_encode }}&text={{page.description}}"><i class="fab fa-twitter"></i> Share on Twitter</a></btn>
        <btn class="btn btn-wine m-1"><a href="https://www.linkedin.com/shareArticle?url={{site.url}}{{page.url | url_encode }}&title={{page.title}}&mini=true"><i class="fab fa-linkedin"></i> Share on LinkedIn</a></btn>
    </div>
</div>
