<!-- Footer logos -->
<div class="bg-white">
    <div class="row mx-auto">
        <div class="mx-auto mt-3">
            <a href="http://www.museums.cam.ac.uk"><img class="img-responsive" alt=""
                                                        src="{{site.baseurl}}/images/logos/uocmuseumsandbot.jpg"
                                                        style="height:50px; margin:10px; width:178px"></a>
            <a href="http://www.artscouncil.org.uk/what-we-do/raising-standards/designation-scheme/"><img
                    class="img-responsive" alt="" src="{{site.baseurl}}/images/logos/designation.jpg"
                    style="height:50px; margin:10px; width:50px"></a>
            <a href="http://www.artscouncil.org.uk/what-we-do/supporting-museums/accreditation-scheme/"><img
                    class="img-responsive" alt="" src="{{site.baseurl}}/images/logos/accred.jpg"
                    style="height:50px; margin:10px; width:53px"></a>
            <a href="http://www.cam.ac.uk/"><img alt="" class="img-responsive"
                                                 src="{{site.baseurl}}/images/logos/iiplogo.jpg"
                                                 style="height:50px; margin:10px; width:167px"></a>&nbsp;
            <a href="http://www.cambridge.gov.uk/"><img class="img-responsive" alt=""
                                                        src="{{site.baseurl}}/images/logos/camcity_logo.jpg"
                                                        style="height:50px; margin:10px; width:40px"></a>
            <a href="http://www.artscouncil.org.uk/" style="line-height: 23.1111106872559px;"><img
                    class="img-responsive" alt="" src="{{site.baseurl}}/images/logos/ace_logo.gif"
                    style="height:50px; margin:10px; width:197px"></a>
            <a href="https://re.ukri.org/"><img class="img-responsive" alt=""
                                                src="{{site.baseurl}}/images/logos/research-england-logo.jpg"></a>

        </div>
    </div>
</div>