<!-- Footer logos -->
<div class="bg-white p-2">
    <div class="row mx-auto">
        <div class="mx-auto mt-3 " id="sponsors">
            <a href="http://www.museums.cam.ac.uk"><img class="img-responsive"
                                                        alt="University of Cambridge Museums logo"
                                                        src="/images/logos/ucm_logo_black_white.png"
            ></a>
            <a href="http://www.artscouncil.org.uk/what-we-do/raising-standards/designation-scheme/"><img
                    class="img-responsive" alt="Designation scheme Logo"
                    src="/images/logos/designation.png"
            ></a>
            <a href="http://www.artscouncil.org.uk/what-we-do/supporting-museums/accreditation-scheme/"><img
                    class="img-responsive" alt="Accredited Museum status logo"
                    src="/images/logos/accredited.png"
            ></a>
            <a href="http://www.cambridge.gov.uk/"><img class="img-responsive" alt="Cambridge City Council Logo"
                                                        src="/images/logos/camcity_logo.png"
            ></a>
            <a href="http://www.artscouncil.org.uk/"><img
                    class="img-responsive" alt="Arts Council England Logo" src="/images/logos/ace.png"
            ></a>
            <a href="https://re.ukri.org/"><img class="img-responsive" alt="Research England logo"
                                                src="/images/logos/research_england.png"
            ></a>

        </div>
    </div>
</div>