<!--- Footer stuff -->
<footer class="text-white">

    <div class="container ">
        <div class="row">
            <div class="col-sm mt-4 mb-2 border-right border-white">
                <h4>Contact us</h4>
                <p class="share">
                    The Fitzwilliam Museum,<br/>
                    Trumpington Street,<br/>
                    Cambridge<br/>
                    CB2 1RB<br/>
                    Tel: +44 (0)1223 332900<br />
                    What3Words location: <a href="https://map.what3words.com/lofts.puzzle.given">lofts.puzzle.given</a><br />
                    <a href="/contactus">Contact us</a>
                </p>
            </div>
            <div class="col-sm mt-4 mb-2 border-right border-white ">
                <h4>Useful links</h4>

                <ul class="share">
                    <li><a href="https://www.museums.cam.ac.uk/">University of Cambridge Museums</a></li>
                    <li><a href="https://www.fitzmuseum.cam.ac.uk/aboutus/support">Support the Fitz</a></li>
                    <li><a href="https://www.fitzmuseum.cam.ac.uk/website/tou">Website Terms of Use</a></li>
                    <li><a href="https://www.fitzmuseum.cam.ac.uk/website/cookiepolicy">Privacy and cookies</a></li>
                    <li><a href="https://www.fitzmuseum.cam.ac.uk/website/cookiepolicy">Accessibility</a></li>
                    <li><a href="/signup">Join the Fitz email list</a></li>
                    <li><a href="https://www.registrarysoffice.admin.cam.ac.uk/governance-and-strategy/anti-slavery-and-anti-trafficking"
                           title="Modern Slavery Act statement of compliance">Modern Slavery Act Statement</a>

                </ul>
            </div>
            <div class="col-sm mt-4 mb-2 border-dotted border-right border-white ">
                <h4>Talk to us</h4>
                <p class="share">
                    <a href="https://twitter.com/FitzMuseum_UK"><i class="fab fa-twitter fa-2x p-2"></i></a>
                    <a href="https://www.instagram.com/fitzmuseum_uk"><i class="fab fa-instagram fa-2x  p-2"></i></a>
                    <a href="https://www.facebook.com/fitzwilliammuseum/"><i class="fab fa-facebook fa-2x p-2"></i></a>
                    <a href="https://www.github.com/fitzwilliammuseum/egyptiancoffins"><i
                            class="fab fa-github fa-2x p-2"></i></a>
                </p>
                <h4>Watch and listen</h4>
                <p class="share">
                    <a href="https://www.youtube.com/channel/UCFwhw5uPJWb4wVEU3Y2nScg"><i
                            class="fab fa-youtube fa-2x p-2"></i></a>
                    <a href="https://vimeo.com/egyptiancoffins"><i class="fab fa-vimeo fa-2x p-2"></i></a>
                </p>
            </div>
            <div class="col-sm mt-2 mb-2">
                <a href="https://www.fitzmuseum.cam.ac.uk"><img src="/images/logos/FitzLogo.svg" width="125" height="125" class="px-2 py-2 rounded d-block"/></a>
                <p class="share">
                    &copy; {{ 'now' | date: "%Y" }} The University of Cambridge<br/>
                    Content: <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND</a><br />
                    Code: <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a>
                </p>
            </div>
        </div>
    </div>

    <a href="#0" class="cd-top js-cd-top">Top</a>

</footer>
