<!-- Nav bars -->

<nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
    <a class="navbar-brand order-md-last " href="#">The Egyptian Coffins Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/coffins">Coffins</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/team">The team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/resources">Resources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/coffins/glossary">Glossary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/news">News</a>
            </li>
        </ul>
    </div>
</nav>