<!-- Nav bars -->

<nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
    <a class="navbar-brand order-md-first " href="/">The Egyptian Coffins Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
              role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About the Project
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/about">Background</a>
                <a class="dropdown-item" href="/team">Team</a>
                <a class="dropdown-item" href="/news">News</a>
              </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/coffins">Coffins</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/deathonthenile">Death on the Nile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pop-ups">Pop-Up Museum</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mummy-portraits">Mummy Portraits</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/reuse-project">Reuse project</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
              role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Resources
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/resources">Video and Audio</a>
                <a class="dropdown-item" href="/resources/glossary">Glossary</a>
                <a class="dropdown-item" href="/resources/further-reading">Further Reading</a>
                <a class="dropdown-item" href="https://discuss.egyptiancoffins.org/">Discussion forum</a>
              </div>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" id="search" type="search" name="query" placeholder="Search" aria-label="Search" action="{{ site.baseurl }}/search" method="GET">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit" formaction="{{ site.baseurl }}/search">Search</button>
        </form>
    </div>
</nav>
