<!-- Nav bars -->

<nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
    <a class="navbar-brand order-md-last " href="/">The Egyptian Coffins Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About the project</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/coffins">Coffins</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/team">The team</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
              role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Resources
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/resources">Video and audio</a>
                <a class="dropdown-item" href="/resources/glossary">Glossary</a>
                <a class="dropdown-item" href="/resources/further-reading">Further reading</a>
              </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/news">News</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
              role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fitz Research
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://data-islands.fitzmuseum.cam.ac.uk">Linked Islands</a>
                <a class="dropdown-item" href="http://creative-economy.fitzmuseum.cam.ac.uk">Creative Economy</a>
              </div>
            </li>
        </ul>
    </div>
</nav>
