<div class="col shadow-sm p-3 mb-5 bg-white rounded h-100">
    <h3>Menu</h3>
    <ul>
        {% if page.category contains "pakepu" %}
        {% assign sorted = (site.pakepu | sort: 'order')  %}
        {% for coffin in sorted %}
        <li>
            <a href="{{ coffin.url }}">{{ coffin.title }}</a>
        </li>
        {% endfor %}
        {% endif %}

        {% if page.category contains "nakhtefmut" %}
        {% assign sorted = (site.nakhtefmut | sort: 'order')  %}
        {% for coffin in sorted  %}

        <li>
            <a href="{{ coffin.url }}">{{ coffin.title }}</a>
        </li>
        {% endfor %}
        {% endif %}

        {% if page.category contains "nespawershefyt" %}
        {% assign sorted = (site.nespawershefyt | sort: 'order')  %}
        {% for coffin in sorted %}
        <li>
            <a href="{{ coffin.url }}">{{ coffin.title }}</a>
        </li>
        {% endfor %}
        {% endif %}

        {% if page.category contains "senuitef" %}
        {% assign sorted = (site.senuitef | sort: 'order')  %}

        {% for coffin in sorted %}
        <li>
            <a href="{{ coffin.url }}">{{ coffin.title }}</a>
        </li>
        {% endfor %}
        {% endif %}
    </ul>
    {% if page.technical %}
    <h3>Technical reports</h3>
    <ul>
        {% for file in page.technical %}
        <li>
            <a href="/assets/pdfs/{{ file.file }}">{{ file.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
