<div class="row">
        <h2>YouTube videos</h2>
        <div class="row mb-2">
            {% for video in page.youtube %}
            <div class="card col-sm p-0 m-2">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/{{ video.id }}" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen ></iframe>
                </div>
            </div>
            {% endfor %}
        </div>
</div>
