<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
    <title>{{page.title}}</title>
    {% include /structure/css.html %}
</head>
<body class="doc-body">
<!-- Screen reader skip to main -->
<a class="sr-only sr-only-focusable doc-skip" href="#doc-main-h1">
    <div class="container">
        <span class="doc-skip-text">Skip to main content</span>
    </div>
</a>
{% include /structure/navigation.html %}

<div class="row mb-5 bg-black ">
    <div class="embed-responsive embed-responsive-16by9">
        <video controls autoplay loop muted class="mx-auto" height="500px">
            <source src="{{site.baseurl}}/assets/video/splash.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>


<div class="container">
    <div class="row mb-3">
        <h1 id="doc-main-h1">{{ page.title }}</h1>
    </div>

</div>
<div class="container">
    <div class="row">
        <div class="col-12 shadow-sm p-3 mb-5 bg-white rounded">
            {{ content }}
        </div>
    </div>
</div>

{% include front_page.html %}


{% include structure/footer_logos.html %}
{% include structure/footer.html %}
{% include structure/javascript.html %}
</body>
</html>