<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
    <title>{{page.title}}</title>
    {% include /structure/css.html %}
    {% seo %}
    {% include /structure/feeds.html %}
    {% include analytics/google_analytics.html %}
</head>
<body class="doc-body">
<!-- Screen reader skip to main -->
<a class="sr-only sr-only-focusable doc-skip" href="#doc-main-h1">
    <div class="container">
        <span class="doc-skip-text">Skip to main content</span>
    </div>
</a>

{% include /structure/navigation.html %}

<!-- Omit splash screen for the moment
<div class="mb-5 bg-black p-3">
    <div class="embed-responsive embed-responsive-16by9">
        <video controls autoplay loop muted class="mx-auto" height="500px">
            <source src="/assets/video/splash.mp4" type="video/mp4">
            <p><span class="badge badge-wine">Your browser does not support the video tag.</span></p>
        </video>
    </div>
</div> -->

<div class="container">
    <div class="mb-3">
        <h1 id="doc-main-h1">{{ page.title }}</h1>
    </div>

</div>
<div class="container">
    <div class="col-12 shadow-sm p-3 mx-auto mb-3 bg-white rounded">
        {{ content }}
    </div>
</div>

{% include front_page.html %}
    <div class="container">
    {% include share_buttons.html %}
    </div>

{% include structure/footer_logos.html %}
{% include structure/footer.html %}
{% include structure/javascript.html %}
{% include lightbox.html %}

</body>
</html>
