<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
    <title>{{page.title}}</title>
    {% include /structure/css.html %}


</head>
<body class="doc-body">

<!-- Screen reader skip to main -->
<a class="sr-only sr-only-focusable doc-skip" href="#doc-main-h1">
    <div class="container">
        <span class="doc-skip-text">Skip to main content</span>
    </div>
</a>

{% include /structure/navigation.html %}

<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid mb-5 doc-jumbotron head">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-10">
                <h1 class="typography-display-4 text-white" id="doc-main-h1">{{ page.title }}</h1>
            </div>
        </div>
    </div>
</div>


    <div class="row">
        <div class="col-12 ">
            <div class="media">
                <img class="align-self-center mr-3 rounded-circle" src="{{site.baseurl}}{{page.image}}"
                     alt="{{page.title}}'s profile">
                <div class="media-body">
                    {% if page.institution %}
                    <h5 class="mt-0">Institution: {{page.institution}}</h5>
                    {% endif %}
                    {% if page.job-title %}
                    <h5 class="mt-0">Job title: {{page.job-title}}</h5>
                    {% endif %}
                    <p>{{content}}</p>
                </div>
            </div>
        </div>
    </div>



{% include structure/footer_logos.html %}
{% include structure/footer.html %}
{% include structure/javascript.html %}


</body>
</html>